.wp-block-social-links {
        display: flex;
        justify-content: space-evenly;
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        margin: 0 auto;
        width: 50px;
    }


.post-19 .entry-content h4{
   background-color: rgba(255, 255, 255, 0.7);
    max-width: 79%;
    margin-left: 40px;
    font-size: .9em;
    padding: 20px;
  
    
   
}
.post-19 .entry-content p{
    font-size: 1.4em;
    margin: 30px;
    text-align: justify;
  
}

@media screen and (min-width:400px){
    
    .post-19 .entry-content h4{
        margin-left: 45px;
    }

    
}

@media screen and (min-width: 500px) {

.post-19 .entry-content h4{
    max-width: 50%;
   margin-left: 140px;
   margin-top: 50px;
   margin-bottom: 50px;
}

.post-19 .entry-content p{
    font-size: 1.5em;
    width: 80%;
    margin-left: 60px;
}

}

@media screen and (min-width:700px){
    .post-19 
    .entry-content 
    .info {
     margin-left: 60px;
}

.post-19 .entry-content h4{
    font-size: 1.4em;
    padding: 40px;
}
}

@media screen and (min-width:1020px){
   .post-19 
   .entry-content 
   .info {
    margin-left: 150px;
   }

   .post-19
   .entry-content h4{
       font-size: 1.5em;
   }

   .post-19 .entry-content p{
       margin-left: 130px;
   }
}

@media screen and (min-width:1100px){

    .post-19 
    .entry-content 
    .info {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        padding: 10px;
        margin-left: -60px;
        height: auto;
    }

   .post-19 .entry-content h4{
       font-size: 1.4em;
       padding: 30px;
       
   }

   .post-19 .entry-content p{
       margin-left: 320px;
   }
}