.sticky {
	display: block;
}

.post,
.page {
	margin: 0;
}
.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
.search-form {
 margin: 30px;
}
.error-404 h1 {
	font-size: 1em;
	margin: 20px 10px;
}

@media screen and (min-width: 650px) {

	.error-404 h1 {
		font-size: 2em;

	}
}