.site-header {
    background-color: $olive;
    color: $beige;
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.site-branding img {
    max-width: 120px;
}

.site-branding a {
    color: $beige;
    font-size: 1.3em;
}

.site-title a {
    text-decoration: none;
}

.menu-toggle {
    position: absolute;
	top: -5rem;
	right: .5rem;
	z-index: 999;
	width: 3.75rem;
	padding: 1rem;
	margin: 0;
	border: none;
	background: transparent;
}

.main-navigation {
    display: block;
    width: 100%;
    position: absolute;
    top: 5rem;
    right: 0;
    z-index: 888;
    ul {
        display: none;
        list-style: none;
        margin: 0;
        padding-left: 0;
        background-color: $olive;
        li {
            position: relative;
            padding: 15px 0px;
            border: 1px solid $beige;
        }
        a {
            display: block;
            text-decoration: none;
            color: $beige;
            text-align: center;
            font-size: 1.1em;
            &:hover {
                color: $dark_orange;
            }
        }
    }
}
svg {
    fill: $beige;
    cursor: pointer;

}
.nav-menu {
    display: flex;
    justify-content: space-between;
}

// Toggle the Navigation Menu
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 800px) {
    .site-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .menu-toggle {
        display: none;
    }
    .site-branding a {
        margin-left: 30px;
    }
   

    .main-navigation {
        width: auto;
        position: static;
        ul {
            display: flex;
            justify-content: space-between;
            li {
                margin: 0px 30px;
                border: none;
            }

    

        
        }
    }
}

