.gallery {
	margin-bottom: 1.5em;
	display: grid;
	grid-gap: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	width: 100%;
}
//menu-page dropdown menu
.dropdown {
	background-color: $dark_orange;
	width: 150px;
	padding: 5px;
	margin: 5px;
	text-align: center;
}
select {
	color: $color__background-body;
	outline: none;
}
.week-section {
	margin-left: 2%;
	margin-right: 2%;
	margin-bottom: 10px;
	padding: 3%;
}
.week-section article {
	margin-bottom: 60px;
}
.week-section p {
	padding-left: 10%;
	padding-right: 8%;
	margin-bottom: 5px;
	text-align: left;
}
.special-diet-name {
	color: $dark_orange;
}


// Loops to enumerate the classes for gallery columns.
@for $i from 2 through 9 {

	.gallery-columns-#{$i} {
		grid-template-columns: repeat($i, 1fr);
	}
}

.gallery-caption {
	display: block;
}
.week-section {
	display: none;
}
.week-section.visible {
	display: block;
  }
// Grids menu page
@media screen and (min-width: 650px) {

	
	.week-section.visible {
		display: grid;
		grid-template-columns: 1fr 1fr ;
		grid-template-rows: auto;
		gap:10px;
	  }
	  .week-section h2 {
		  grid-column: 1/3;
	  }
}