button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: $color__border-button;
	border-radius: 3px;
	background: $color__background-button;
	color: rgba(0, 0, 0, 0.8);
	line-height: 1;
	padding: 0.6em 1em 0.4em;

	&:hover {
		border-color: $color__border-button-hover;
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
	}
}

// call-to-action 

.call-to-action a {
	text-decoration: none;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 70px;
	padding-right: 70px;
	background-color: $dark_orange;
	color: $color__background-body;
}
.call-to-action a:hover,
.call-to-action a:active,
.call-to-action a:focus {
	background-color: $olive;
}

// @media screen and (min-width: 450px) {

	
// }

