button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: none;
	border-radius: 3px;
	background: $dark_orange;
	color: $beige;
	line-height: 1;
	padding: 0.7em  1.5em;
	
	

	&:hover {
		background-color: $olive;
	}

	&:active,
	&:focus {
		border-color: $olive;
	}
	
}
.woocommerce-Input .woocommerce-Input--text {
	width: 50%;
}
.woocommerce-button.button {
	width: 100%;
}

// call-to-action 

.call-to-action a,
.hero-image a,
.button.wc-backward  {
	text-decoration: none;
	border-radius: 3px;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 20px;
	margin-top: 20px;
	padding-left: 70px;
	padding-right: 70px;
	background-color: $dark_orange;
	color: $beige;
	cursor: pointer;
	
}
.call-to-action a:hover, .button.wc-backward:hover,
.call-to-action a:active, .button.wc-backward:active,
.call-to-action a:focus, .button.wc-backward:focus {
	background-color: $olive;
}
.hero-image a:hover, 
.hero-image a:active, 
.hero-image a:focus {
	background-color: $olive;
}




// @media screen and (min-width: 450px) {

	
// }

