input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: $color__text-input;
	border: 1px solid $color__border-input;
	border-radius: 3px;
	padding: 3px;
	margin: 8px 0;
	display: inline-block;
	width: 100%;

	&:focus {
		color: $color__text-input-focus;
	}
	
}

select {
	border: 1px solid $color__border-input;
}

textarea {
	width: 100%;
}
.u-columns {
	border: 3px solid $maroon;
	border-radius: 5px;
	padding: 20px;
	margin: 30px 40px;
}

@media screen and (min-width: 650px) {
	.u-columns label {
		width: 100%;
	}
	.woocommerce-form-row {
		display: flex;
		align-items: center;
	}
	.woocommerce-form-row label {
		min-width: 150px;
	}
	.woocommerce-form-row span, 
	.woocommerce-form-row input {
		width: 100%;
	}
	// .u-columns {
	// 	display: flex;
	// }
}