input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: $color__text-input;
	border: 1px solid $color__border-input;
	border-radius: 3px;
	padding: 3px;
	display: block;
	margin: 0 auto;
	// width: 100%;
	
	&:focus {
		color: $color__text-input-focus;
	}
	
}

.u-column1.col-1, .u-column2.col-2 {
	display: table;
	width: 80%;
	margin: 0 auto;
	button.woocommerce-form-login__submit {
		max-width: 350px;
	}
}
select {
	border: 1px solid $color__border-input;
}

textarea {
	width: 100%;
}
.u-columns {
	border: 3px solid $maroon;
	border-radius: 5px;
	padding: 20px;
	margin: 30px 40px;
}

@media screen and (min-width: 700px) {
	.u-columns label {
		width: 100%;
	}
	.woocommerce-form-row {
		align-items: center;
	}
	.woocommerce-form-row label {
		min-width: 150px;
	}
	.woocommerce-form-row span, 
	.woocommerce-form-row input {
		width: 100%;
	}
	.u-columns {
		max-width: 800px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
	}
	.u-columns .col-1,
	.u-columns .col-2 {
		width: 45%;
	}
}