@font-face {
	font-family: "Louis George Cafe";
	src: url("./fonts/Louis-George-Cafe.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "MADE Tommy Bold Outline";
	src: url("./fonts/MadeTOMMY-Bold-Outline.otf") format("opentype");
	font-style: normal;
	font-weight: normal;
}

// stylelint-disable value-keyword-case
$font__main: "Louis George Cafe", sans-serif;
// stylelint-enable value-keyword-case
$font__code: monaco, consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;